body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    color: white;
    padding: 20px;
}

.container {
    width: 100%;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

.admitir {
    background-color: purple;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.pesquisar {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #333;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #444;
}

button.atualizar {
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 8px;
    margin-right: 5px;
    border-radius: 5px;
}

button.demitir {
    background-color: red;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}
